<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tasks in Go + Vue</title>
    <link rel="stylesheet" href="tasks.css">
  </head>

  <body>
    
    <section class="app">
        <header class="header">
          <h1>Tasks in Go + Vue example</h1>
            <!-- Input Tasks -->
        </header>
        <section class="main">
            <!-- Show Tasks -->
        </section>
        <footer class="footer">
            <!-- Tasks counter + Filters (completed) -->
        </footer>
      </section>
      <footer class="info">
        <!-- Footer stuff -->
      </footer>

    <script
      src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js">
    </script>

    <script
        src="main.js">
    </script>

  </body>
</html>